.accordion-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: purple;
}

.accordion-item {
    width: 100%;
    padding-top: 6px;
}

.accordion-item-content {

}